[user]
    name = spagettimakaronas
    email = spagettimakaronas@mail.ru
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current